.container {
  width: 88%;
  max-width: 120rem;
  margin: auto;
}

.grain {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  opacity: .4;
  background-image: url("../images/grain.webp"), url("../images/grain.png");
  background-repeat: repeat;
  pointer-events: none;
}
